In [2]:
! pip install pyspark
! pip install findspark

Defaulting to user installation because normal site-packages is not writeable
Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     |████████████████████████████████| 316.9 MB 7.7 kB/s  eta 0:00:01
Collecting py4j==0.10.9.7
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 71.3 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425367 sha256=a4aa2df9b3afc1ee34fabcbe56e0c038ec60a4e3bba4688363ebcb046ee2c2c0
  Stored in directory: /home/ubuntu/.cache/pip/wheels/a6/ce/f9/17d82c92f044018df2fe30af63ac043447720d5b2cee39b40f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.0

In [1]:
import findspark
findspark.init()
findspark.find()

'/usr/lib/spark'

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

In [ ]:
spark = (
    SparkSession
        .builder
        .appName("OTUS")
        .config('spark.executor.cores', '2')
        .config('spark.executor.instances', '4')
        .config("spark.executor.memory", "3g")
        .config("spark.driver.memory", "2g")
        .getOrCreate()
)

sql = SQLContext(spark)

### Split files

In [ ]:
files = """2023-10-10 18:24:15 2807409271 2019-08-22.txt
2023-10-10 18:23:34 2854479008 2019-09-21.txt
2023-10-10 18:23:35 2895460543 2019-10-21.txt
2023-10-10 18:23:34 2939120942 2019-11-20.txt
2023-10-10 18:23:35 2995462277 2019-12-20.txt
2023-10-10 18:24:37 2994906767 2020-01-19.txt
2023-10-10 18:24:39 2995431240 2020-02-18.txt
2023-10-10 18:24:39 2995176166 2020-03-19.txt
2023-10-10 18:24:39 2996034632 2020-04-18.txt
2023-10-10 18:25:40 2995666965 2020-05-18.txt
2023-10-10 18:25:48 2994699401 2020-06-17.txt
2023-10-10 18:25:48 2995810010 2020-07-17.txt
2023-10-10 18:25:46 2995995152 2020-08-16.txt
2023-10-10 18:25:48 2995778382 2020-09-15.txt
2023-10-10 18:26:31 2995868596 2020-10-15.txt
2023-10-10 18:26:53 2995467533 2020-11-14.txt
2023-10-10 18:26:52 2994761624 2020-12-14.txt
2023-10-10 18:26:54 2995390576 2021-01-13.txt
2023-10-10 18:26:53 2995780517 2021-02-12.txt
2023-10-10 18:27:35 2995191659 2021-03-14.txt
2023-10-10 18:27:56 2995446495 2021-04-13.txt
2023-10-10 18:27:58 3029170975 2021-05-13.txt
2023-10-10 18:28:01 3042691991 2021-06-12.txt
2023-10-10 18:28:02 3041980335 2021-07-12.txt
2023-10-10 18:28:45 3042662187 2021-08-11.txt
2023-10-10 18:29:06 3042455173 2021-09-10.txt
2023-10-10 18:29:08 3042424238 2021-10-10.txt
2023-10-10 18:29:09 3042358698 2021-11-09.txt
2023-10-10 18:29:07 3042923985 2021-12-09.txt
2023-10-10 18:29:52 3042868087 2022-01-08.txt
2023-10-10 18:30:13 3043148790 2022-02-07.txt
2023-10-10 18:30:15 3042312191 2022-03-09.txt
2023-10-10 18:30:15 3041973966 2022-04-08.txt
2023-10-10 18:30:19 3073760161 2022-05-08.txt
2023-10-10 18:31:02 3089378246 2022-06-07.txt
2023-10-10 18:31:23 3089589719 2022-07-07.txt
2023-10-10 18:31:25 3090000257 2022-08-06.txt
2023-10-10 18:31:22 3089390874 2022-09-05.txt
2023-10-10 18:31:25 3109468067 2022-10-05.txt
2023-10-10 18:31:35 3136657969 2022-11-04.txt
2023-10-10 18:21:44     145611 train.csv"""

In [116]:
name_files = [x.split(' ')[-1].split('/')[-1] for x in files.split('\n')]
name_files.remove('train.csv')

['2019-08-22.txt', '2019-09-21.txt', '2019-10-21.txt']

# Вариант чтения 1

In [4]:
defaultFS = spark._jsc.hadoopConfiguration().get("fs.defaultFS")
defaultFS

'hdfs://rc1a-dataproc-m-skgoxg37ozdzyuje.mdb.yandexcloud.net'

In [13]:
table = spark.read.format('csv').options(header='true', inferSchema='true').load(defaultFS + '/user/hive/warehouse/2019-08-22.txt')

In [11]:
table.columns

['# tranaction_id | tx_datetime | customer_id | terminal_id | tx_amount | tx_time_seconds | tx_time_days | tx_fraud | tx_fraud_scenario']

# Вариант чтения 2

In [95]:
import pyspark.sql.functions as f

def read_txt_files(name):
    data = spark.read.text("s3a://hw2-mlops-course/" + name)

    name_cols = ['tranaction_id',
                 'tx_datetime',
                 'customer_id',
                 'terminal_id',
                 'tx_amount',
                 'tx_time_seconds',
                 'tx_time_days',
                 'tx_fraud',
                 'tx_fraud_scenario']

    data = data.withColumn('temp', f.split('value', ','))\
                .select(*(f.col('temp').getItem(i).alias(name_col) for i, name_col in enumerate(name_cols)))\
                .filter(f.col('tx_datetime').isNotNull())
    
    return data

In [ ]:
for name_file in name_files:
    df = read_txt_files(name_file).limit(10000)
    
    clear_name = name_file.split('.')[0]
    
    #df.write.mode('overwrite').parquet('/user/hive/warehouse/' + clear_name + '.parquet')

# Вариант чтения 3

In [ ]:
from pyspark.sql.types import *

struct = StructType([
    StructField("tranaction_id", IntegerType(), nullable = True),
    StructField("tx_datetime", StringType(), nullable = True), 
    StructField("customer_id", IntegerType(), nullable = True), 
    StructField("terminal_id", IntegerType(), nullable = True),
    StructField("tx_amount", DoubleType(), nullable = True), 
    StructField("tx_time_seconds", IntegerType(), nullable = True), 
    StructField("tx_time_days", IntegerType(), nullable = True),
    StructField("tx_fraud", IntegerType(), nullable = True), 
    StructField("tx_fraud_scenario", IntegerType(), nullable = True)])

In [ ]:
def read_df(name):
    df = spark.read\
          .option("header", "true")\
          .option("inferSchema", "false")\
          .option("delimiter", ",")\
          .schema(struct)\
          .csv("s3a://hw2-mlops-course/" + name)
    
    return df